<!-- header section strats -->
<header class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container">
      <div class="container-fluid">
        <a routerLink="login" class="me-4" style="color: #44b89d">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
            <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
          </svg>
        </a>
        <a class="navbar-brand" routerLink="">
           <span>
             Bookstore
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-togler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Danh Mục Sách <span class="sr-only">(current)</span>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="book/list/1">Văn Học Việt Nam</a></li>
                <li><a class="dropdown-item" routerLink="book/list/2">Văn Học Nước Ngoài</a></li>
                <li><a class="dropdown-item" routerLink="book/list/3">Thiếu Nhi</a></li>
                <li><a class="dropdown-item" routerLink="book/list/4">Thời Sự - Chính Trị</a></li>
                <li><a class="dropdown-item" routerLink="book/list/5">Khoa Học Tự Nhiên - Nhân Văn</a></li>
                <li><a class="dropdown-item" routerLink="book/list/6">Tham Khảo</a></li>
                <li><a class="dropdown-item" routerLink="book/list/7">Giảm Giá Đặc Biệt</a></li>
                <li><a class="dropdown-item" routerLink="book/list/8">Sách Tái Bản</a></li>
              </ul>
            </li>
            <li class="nav-item active">
              <a class="nav-link pl-lg-0" routerLink="">Sách Bán Chạy</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Khuyến Mãi
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Chương Trình Khuyến Mãi</a></li>
                <li><a class="dropdown-item" href="#">Giảm Giá Đặc Biệt</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Giao Dịch - Đơn Hàng
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Lịch Sử Giao Dịch</a></li>
                <li><a class="dropdown-item" href="#">Kiểm Tra Đơn Hàng</a></li>
              </ul>
            </li>
          </ul>
          <form class="search_form">
            <input type="text" class="form-control" placeholder="Tìm Kiếm...">
            <button class="" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </form>
        </div>
      </div>
    </nav>
  </div>
</header>
