<!-- header section strats -->
<header class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container">
      <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item dropdown" [hidden]="isLoggedIn">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #44b89d">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
              </svg>
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item">
                <a class="nav-link" routerLink="../login" style="color: black;">Đăng nhập</a>
              </li>
            </ul>
          </li>

          <li class="nav-item" [hidden]="!isLoggedIn">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #44b89d">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
              </svg>
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item">
                <a href="" class="nav-link" (click)="logOut()" style="color: black;">Đăng xuất</a>
              </li>
            </ul>
          </li>
          <a class="navbar-brand" routerLink="">
            <span>
              Bookstore
            </span>
          </a>
          <li class="nav-item dropdown" style="padding: 8px" [hidden]="!isLoggedIn">
              <span class="nav-item me-2 text-success d-flex flex-row" >
               <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="padding: 0;color: #44b89d">
                {{username}} <span class="sr-only">(current)</span>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="customer">Xem Thông Tin</a></li>
              </ul>
              </span>

          </li>
          <li class="nav-item" style="padding: 8px" [hidden]="isLoggedIn">
            <span class="nav-item me-2 text-secondary">Chưa Đăng Nhập</span>
          </li>
        </ul>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-togler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link pl-lg-0" routerLink="book/manager">Quản Lí</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Danh Mục Sách <span class="sr-only">(current)</span>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="book/list/1">Văn Học Việt Nam</a></li>
                <li><a class="dropdown-item" routerLink="book/list/2">Văn Học Nước Ngoài</a></li>
                <li><a class="dropdown-item" routerLink="book/list/3">Thiếu Nhi</a></li>
                <li><a class="dropdown-item" routerLink="book/list/4">Thời Sự - Chính Trị</a></li>
                <li><a class="dropdown-item" routerLink="book/list/5">Khoa Học Tự Nhiên - Nhân Văn</a></li>
                <li><a class="dropdown-item" routerLink="book/list/6">Tham Khảo</a></li>
                <li><a class="dropdown-item" routerLink="book/list/7">Giảm Giá Đặc Biệt</a></li>
                <li><a class="dropdown-item" routerLink="book/list/8">Sách Tái Bản</a></li>
              </ul>
            </li>
            <li class="nav-item active">
              <a class="nav-link pl-lg-0" routerLink="best-selling-book">Sách Bán Chạy</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link pl-lg-0" routerLink="promotional">Khuyến Mãi</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link pl-lg-0" routerLink="statistic">Thống Kê</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Giao Dịch - Đơn Hàng
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" *ngIf="['ROLE_ADMIN', 'ROLE_USER'].indexOf(role)!==-1" routerLink="history">Lịch Sử Giao Dịch</a></li>
                <li><a class="dropdown-item" routerLink="order">Kiểm Tra Đơn Hàng</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
