<div id="large-th">
    <div class="container mt-4 d-flex flex-column align-items-center">
        <h1>Cập Nhập Sách</h1>
        <br>
        <form class="col-lg-8" [formGroup]="customerForm" (ngSubmit)="editCustomer()">
            <div class="mx-4">
                <hr>
                <input matInput type="text" formControlName="id" hidden>
                <div class="row mb-3">
                    <div class="col-lg-6 d-grid">
                        <mat-form-field appearance="outline">
                            <mat-label>Họ Và Tên <span><i>(*)</i></span></mat-label>
                            <input matInput type="text" formControlName="customerName">
                            <!--                            <mat-error-->
                            <!--                                    *ngIf="bookForm.controls.code.hasError('required') && (bookForm.controls.code.touched)">-->
                            <!--                                Vui Lòng Không Để Trống.-->
                            <!--                            </mat-error>-->
                            <!--                            <mat-error *ngIf="isExitsCode">Mã Sách Đã Tồn Tại. Vui Lòng Nhập Lại.</mat-error>-->
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6 d-grid">
                        <mat-form-field appearance="outline">
                            <mat-label>Ngày Sinh <span><i>(*)</i></span></mat-label>
                            <input matInput type="date" formControlName="dateOfBirth">
                            <!--                            <mat-error-->
                            <!--                                    *ngIf="bookForm.controls.name.hasError('required') && (bookForm.controls.name.touched || bookForm.controls.name.dirty)">-->
                            <!--                                Vui Lòng Không Để Trống.-->
                            <!--                            </mat-error>-->
                        </mat-form-field>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-6 d-grid">
                        <mat-form-field appearance="outline">
                            <mat-label>Số Điện Thoại <span><i>(*)</i></span></mat-label>
                            <input matInput type="text" formControlName="phoneNumber">
                            <!--                            <mat-error-->
                            <!--                                    *ngIf="bookForm.controls.author.hasError('required') && (bookForm.controls.author.touched || bookForm.controls.author.dirty)">-->
                            <!--                                Vui Lòng Không Để Trống.-->
                            <!--                            </mat-error>-->
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6 d-grid">
                        <mat-form-field appearance="outline">
                            <mat-label>Email <span><i>(*)</i></span></mat-label>
                            <input matInput type="email" formControlName="email">
                            <!--        <mat-error></mat-error>-->
                        </mat-form-field>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-6 d-grid">
                        <mat-form-field appearance="outline">
                            <mat-label>Thành Phố <span><i>(*)</i></span></mat-label>
                            <input matInput type="text" formControlName="city">
                            <!--                            <mat-error-->
                            <!--                                    *ngIf="bookForm.controls.dimension.hasError('required') && (bookForm.controls.dimension.touched || bookForm.controls.dimension.dirty)">-->
                            <!--                                Vui Lòng Không Để Trống.-->
                            <!--                            </mat-error>-->
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6 d-grid">
                        <mat-form-field appearance="outline">
                            <mat-label>Quận <span><i>(*)</i></span></mat-label>
                            <input matInput type="text" formControlName="district">
                            <!--        <mat-error></mat-error>-->
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-lg-12 d-grid">
                        <mat-form-field appearance="outline">
                            <mat-label>Địa Chỉ <span><i>(*)</i></span></mat-label>
                            <input matInput type="text" formControlName="address">
                            <!--                            <mat-error-->
                            <!--                                    *ngIf="bookForm.controls.code.hasError('required') && (bookForm.controls.code.touched)">-->
                            <!--                                Vui Lòng Không Để Trống.-->
                            <!--                            </mat-error>-->
                            <!--                            <mat-error *ngIf="isExitsCode">Mã Sách Đã Tồn Tại. Vui Lòng Nhập Lại.</mat-error>-->
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-lg-12 d-grid">
                        <mat-form-field appearance="outline">
                            <mat-label>Giới Thiệu <span><i>(*)</i></span></mat-label>
                            <input matInput type="text" formControlName="note">
                            <!--                            <mat-error-->
                            <!--                                    *ngIf="bookForm.controls.code.hasError('required') && (bookForm.controls.code.touched)">-->
                            <!--                                Vui Lòng Không Để Trống.-->
                            <!--                            </mat-error>-->
                            <!--                            <mat-error *ngIf="isExitsCode">Mã Sách Đã Tồn Tại. Vui Lòng Nhập Lại.</mat-error>-->
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-lg-12 d-grid">
                        <mat-form-field appearance="outline">
                            <mat-label>Ảnh <span><i>(*)</i></span></mat-label>
                            <input matInput type="text" formControlName="images">
                            <!--                            <mat-error-->
                            <!--                                    *ngIf="bookForm.controls.name.hasError('required') && (bookForm.controls.name.touched || bookForm.controls.name.dirty)">-->
                            <!--                                Vui Lòng Không Để Trống.-->
                            <!--          --                  </mat-error>-->
                        </mat-form-field>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-around p-3">
                    <a class="d-grid text-decoration-none" routerLink="/customer">
                        <button mat-raised-button style="background: #44b89d; color: white"> Quay Lại</button>
                    </a>
                    <button type="submit" mat-raised-button style="background: #44b89d; color: white">
                        Cập Nhập
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>
