<div id="large-th" style="height: 1500px">
  <div class="container mt-4">
    <h1>Văn Học Việt Nam</h1>
    <br>
    <div id="list-th">
      <div class="book read con-tooltip right" *ngFor="let item of bookList">
        <a [routerLink]="['/book/detail/', item.id]" style="text-decoration: none; color: #0c0c0c">
          <div class="cover">
            <img src="assets/images/lam-di-2.png">
          </div>
          <div class="description">
            <p class="title">{{item.nameBook}}<br>
              <span class="author">{{item.author}}</span></p>
          </div>
          <div class="tooltip " style="font-size: 14px">
            <span
              style="color: #44b89d; font-weight: bold; font-size: 20px; font-family: monospace;">{{item.nameBook}}</span>
            <ul>
              <li>Số Trang: {{item.numberPages}}</li>
              <li>Kích Thước: {{item.size}}</li>
              <li>Ngày Phát Hành: {{item.releaseDate}}</li>
            </ul>
            <h5 style="color: #44b89d; font-weight: bold">{{item.price | currency : "VNĐ: "}} đ</h5>
            <div>
              <button class="btn btn-outline-warning mb-2" style="width: 200px">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                     class="bi bi-cart-plus" viewBox="0 0 16 16" style="color: #44b89d;">
                  <path
                    d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                  <path
                    d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
                Thêm Vào Giỏ Hàng
              </button>
              <button class="btn btn-outline-warning mb-2" style="width: 200px">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-basket2"
                     viewBox="0 0 16 16" style="color: #44b89d;margin-right: 10px">
                  <path
                    d="M4 10a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 0 1-2 0v-2zm3 0a1 1 0 1 1 2 0v2a1 1 0 0 1-2 0v-2z"/>
                  <path
                    d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-.623l-1.844 6.456a.75.75 0 0 1-.722.544H3.69a.75.75 0 0 1-.722-.544L1.123 8H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.163 8l1.714 6h8.246l1.714-6H2.163z"/>
                </svg>
                Mua Ngay
              </button>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div style="height: 50px;position: relative" class="container pagination-advertisement mb-3">
  <ul class="pagination justify-content-end align-items-center">
    <li>
      <select class="form-select" (change)="totalElement($event)">
        <option value="9" [selected]="pageSize === 9">9</option>
        <option value="18" [selected]="pageSize === 18">18</option>
        <option value="full" [selected]="pageSize === totalElements">Tất cả</option>
      </select>
    </li>
    <li class="page-item ms-2">
      <button (click)="goPrevious()" [hidden]="!checkPreview" type="button"
              class="btn btn-none">
        Trang trước
      </button>
    </li>
    <li class="page-item ms-2">
      <span style="margin: 0 20px 0 20px">{{numberOfElementFinal}} - {{(numberOfElementFirst)}}
        trên {{totalElements}}</span>
    </li>
    <li class="page-item">

      <button (click)="goNext()" [hidden]="!checkNext"
              type="button"
      class="btn btn-none">
        Trang sau
      </button>
    </li>
  </ul>
</div>
