<div class="hero_area">

  <!-- slider section -->
  <section class="slider_section ">
    <div id="customCarousel1" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
          <div class="container ">
            <div class="row">
              <div class="col-md-6">
                <div class="detail-box">
                  <h5>
                    Bookstore
                  </h5>
                  <h1>
                    Dành cho tất cả của bạn <br>
                    nhu cầu đọc
                  </h1>
                  <p>
                    Điều rất quan trọng đối với khách hàng là phải chú ý đến quá trình adipiscing. Những người muốn thường để lại nỗi đau cho các tùy chọn.                  </p>
                  <a routerLink="/book/list/1">
                    Đọc Thêm
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="img-box">
                  <img src="assets/images/slider-img.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <div class="container ">
            <div class="row">
              <div class="col-md-6">
                <div class="detail-box">
                  <h5>
                    Bookstore
                  </h5>
                  <h1>
                    Dành cho tất cả của bạn <br>
                    nhu cầu đọc
                  </h1>
                  <p>
                    Điều rất quan trọng đối với khách hàng là phải chú ý đến quá trình adipiscing. Những người muốn thường để lại nỗi đau cho các tùy chọn.                  </p>
                  <a routerLink="/book/list/1">
                    Đọc Thêm
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="img-box">
                  <img src="assets/images/slider-img.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
          <div class="container ">
            <div class="row">
              <div class="col-md-6">
                <div class="detail-box">
                  <h5>
                    Bookstore
                  </h5>
                  <h1>
                    Dành cho tất cả của bạn <br>
                    nhu cầu đọc
                  </h1>
                  <p>
                    Điều rất quan trọng đối với khách hàng là phải chú ý đến quá trình adipiscing. Những người muốn thường để lại nỗi đau cho các tùy chọn.                  </p>
                  <a routerLink="/book/list/1">
                    Đọc Thêm
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="img-box">
                  <img src="assets/images/slider-img.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel_btn_box">
        <button class="carousel-control-prev" type="button" data-bs-target="#customCarousel1" data-bs-slide="prev">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
          <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#customCarousel1" data-bs-slide="next">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
          <span class="sr-only">Next</span>
        </button>
      </div>
    </div>
  </section>
  <!-- end slider section -->
</div>


<!-- catagory section -->

<section class="catagory_section layout_padding">
  <div class="catagory_container">
    <div class="container ">
      <div class="heading_container heading_center">
        <h2>
          Thể Loại Sách
        </h2>
        <p>
          Có rất nhiều biến thể của các đoạn Lorem Ipsum có sẵn, nhưng phần lớn đã bị thay đổi
        </p>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4 ">
          <div class="box ">
            <div class="img-box">
              <a routerLink="/book/list/1">
                <img src="assets/images/cat1.png" alt="">
              </a>
            </div>
            <div class="detail-box">
              <h5>
                Văn Học Việt Nam
              </h5>
              <p>
                thực tế là người đọc sẽ bị phân tâm bởi nội dung có thể đọc được của một trang khi nhìn vào bố cục của nó. Các điểm sử dụng
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 ">
          <div class="box ">
            <div class="img-box">
              <a routerLink="/book/list/2">
                <img src="assets/images/cat2.png" alt="">
              </a>
            </div>
            <div class="detail-box">
              <h5>
                Văn Học Nước Ngoài
              </h5>
              <p>
                thực tế là người đọc sẽ bị phân tâm bởi nội dung có thể đọc được của một trang khi nhìn vào bố cục của nó. Các điểm sử dụng
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 ">
          <div class="box ">
            <div class="img-box">
              <a routerLink="/book/list/3">
                <img src="assets/images/cat3.png" alt="">
              </a>
            </div>
            <div class="detail-box">
              <h5>
                Thiếu Nhi
              </h5>
              <p>
                thực tế là người đọc sẽ bị phân tâm bởi nội dung có thể đọc được của một trang khi nhìn vào bố cục của nó. Các điểm sử dụng
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 ">
          <div class="box ">
            <div class="img-box">
              <a routerLink="/book/list/4">
                <img src="assets/images/cat4.png" alt="">
              </a>
            </div>
            <div class="detail-box">
              <h5>
                Thời Sự - Chính Trị
              </h5>
              <p>
                thực tế là người đọc sẽ bị phân tâm bởi nội dung có thể đọc được của một trang khi nhìn vào bố cục của nó. Các điểm sử dụng
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 ">
          <div class="box ">
            <div class="img-box">
              <a routerLink="/book/list/5">
                <img src="assets/images/cat5.png" alt="">
              </a>
            </div>
            <div class="detail-box">
              <h5>
                Khoa Học Tự Nhiên - Nhân Văn
              </h5>
              <p>
                thực tế là người đọc sẽ bị phân tâm bởi nội dung có thể đọc được của một trang khi nhìn vào bố cục của nó. Các điểm sử dụng
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 ">
          <div class="box ">
            <div class="img-box">
              <a routerLink="/book/list/6">
                <img src="assets/images/cat6.png" alt="">
              </a>
            </div>
            <div class="detail-box">
              <h5>
                Tham Khảo
              </h5>
              <p>
                thực tế là người đọc sẽ bị phân tâm bởi nội dung có thể đọc được của một trang khi nhìn vào bố cục của nó. Các điểm sử dụng
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end catagory section -->

<!-- about section -->

<section class="about_section layout_padding">
  <div class="container ">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box">
          <img src="assets/images/about-img.png" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              Giới thiệu về hiệu sách của chúng tôi
            </h2>
          </div>
          <p>
            Nhưng cho dù anh ta có ràng buộc với rắc rối, hoặc giả sử bằng cách từ chối anh ta đi chăng nữa! Không bao giờ bị từ chối. Họ có dẫn đến mù quáng từ chối chấp nhận những đau đớn và đau khổ của anh ta không? Đối với một số người hiện tại, nên chuẩn bị một sự linh hoạt khôn ngoan, nhưng ở đây nó sẽ chỉ là một niềm vui! Cũng như họ phải chấp nhận cuộc sống của mình, họ đã để mặc cho bản thân cảm giác tội lỗi là điều gì đó cần được làm dịu đi.          </p>
          <a routerLink="/book/list/1">
            Đọc Thêm
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end about section -->

<!-- client section -->

<section class="client_section layout_padding">
  <div class="container ">
    <div class="heading_container heading_center">
      <h2>
        Khách hàng nói gì
      </h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="client_container ">
          <div class="detail-box">
            <p>
              Các biên tập viên hiện sử dụng Lorem Ipsum làm văn bản mẫu mặc định của họ và tìm kiếm 'lorem ipsum' sẽ phát hiện ra bất kỳ trang web nào vẫn còn sơ khai. Nhiều phiên bản khác nhau đã phát triển trong nhiều năm, đôi khi bằng cách
            </p>
            <span>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </span>
          </div>
          <div class="client_id">
            <div class="img-box">
              <img src="assets/images/c1.jpg" alt="">
            </div>
            <div class="client_name">
              <h5>
                Nguyễn Văn Bình
              </h5>
              <h6>
                Học Sinh
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mx-auto">
        <div class="client_container ">
          <div class="detail-box">
            <p>
              Các biên tập viên hiện sử dụng Lorem Ipsum làm văn bản mẫu mặc định của họ và tìm kiếm 'lorem ipsum' sẽ phát hiện ra bất kỳ trang web nào vẫn còn sơ khai. Nhiều phiên bản khác nhau đã phát triển trong nhiều năm, đôi khi bằng cách
            </p>
            <span>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </span>
          </div>
          <div class="client_id">
            <div class="img-box">
              <img src="assets/images/c2.jpg" alt="">
            </div>
            <div class="client_name">
              <h5>
                Trần Văn Hoa
              </h5>
              <h6>
                Học Sinh
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mx-auto">
        <div class="client_container ">
          <div class="detail-box">
            <p>
              Các biên tập viên hiện sử dụng Lorem Ipsum làm văn bản mẫu mặc định của họ và tìm kiếm 'lorem ipsum' sẽ phát hiện ra bất kỳ trang web nào vẫn còn sơ khai. Nhiều phiên bản khác nhau đã phát triển trong nhiều năm, đôi khi bằng cách
            </p>
            <span>
                <i class="fa fa-quote-left" aria-hidden="true"></i>
              </span>
          </div>
          <div class="client_id">
            <div class="img-box">
              <img src="assets/images/c3.jpg" alt="">
            </div>
            <div class="client_name">
              <h5>
                Nguyễn Duy Phúc
              </h5>
              <h6>
                Học Sinh
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end client section -->

<!-- blog section -->

<section class="blog_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Từ Blog của chúng tôi
      </h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="box">
          <div class="img-box">
            <img src="assets/images/b1.jpg" alt="">
            <h4 class="blog_date">
                <span>
                  19 tháng 1 năm 2021
                </span>
            </h4>
          </div>
          <div class="detail-box">
            <h5>
              Nỗi đau của anh ấy? Hoặc anh ấy muốn nhưng đau đớn
            </h5>
            <p>
              Tôi sẽ giải thích những sự kiện lớn sẽ dẫn đến điều đó? Có khó cho cơn đau từ không? Để có được và những nỗi đau ở đây do ham muốn, đến niềm vui sung sướng không bao giờ xứng đáng hơn            </p>
            <a routerLink="/book/list/1">
              Đọc Thêm
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box">
          <div class="img-box">
            <img src="assets/images/b2.jpg" alt="">
            <h4 class="blog_date">
                <span>
                  19 tháng 1 năm 2021
                </span>
            </h4>
          </div>
          <div class="detail-box">
            <h5>
              Ít nhất một chút nữa tôi sẽ bay ngay
            </h5>
            <p>
              Bằng sự phục vụ của sự thật, anh ta đẩy lùi suy nghĩ của việc lựa chọn tâm trí dễ dãi của hiện tại. Vào thời điểm họ cung cấp cho điều đó, từ mù quáng, họ mù quáng để chạy theo thú vui. Tôi sẽ tha thứ cho họ trừ khi họ được phân biệt! Hơn nữa, bằng cách từ chối nó.            </p>
            <a routerLink="/book/list/1">
              Đọc Thêm
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end blog section -->

<!-- contact section -->

<section class="contact_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ">
        <div class="heading_container ">
          <h2 class="">
            Liên hệ chúng tôi
          </h2>
        </div>
        <form action="#">
          <div>
            <input type="text" placeholder="Tên" />
          </div>
          <div>
            <input type="email" placeholder="Email" />
          </div>
          <div>
            <input type="text" placeholder="Số điện thoại" />
          </div>
          <div>
            <input type="text" class="message-box" placeholder="Thông điệp" />
          </div>
          <div class="btn-box">
            <button>
              GỬI
            </button>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <div class="img-box">
          <img src="assets/images/contact-img.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end contact section -->
