<div class="limiter" style="background-color: #666666;">
    <div class="container-login100">
        <form class="wrap-login100" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <div class="login100-form validate-form">
					<span class="login100-form-title p-b-43">
						Đăng Kí Tài Khoản
					</span>


                <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                    <input class="input100 has-val" type="text" name="username" formControlName="username">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Tên Tài Khoản</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100 has-val" type="password" name="password" formControlName="password">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Mật Khẩu</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100 has-val" type="text" name="email" formControlName="email">
                    <span class="focus-input100"></span>
                    <span class="label-input100">Email</span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn mb-2" type="submit">
                        Đăng kí
                    </button>
                    <button class="login100-form-btn bg-secondary" routerLink="/login">
                        Quay Lại
                    </button>
                </div>

            </div>

            <div class="login100-more" style="background-image: url('assets/images/book-login.jpeg');">
            </div>
        </form>
    </div>
</div>

